@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@property --move{
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

body{
}

.aaaa{
    background-position: var(--move) 0%;
    background-size: 400% 100%;
    animation: move 10s linear infinite;
}


@keyframes move {
    0%{
        --move:-100%
    }
    50%{
        --move:100%
    }
    100%{
        --move:-100%
    }
}

@custom-variant dark (&:where(.dark, .dark *));

:root[class="light"]{
    --color-bg1:rgb(250, 245, 255);
    --color-bg2:rgb(245, 250, 255);
}
:root[class="dark"]{
    --color-bg1:rgb(10, 0, 25);
    --color-bg2:rgb(25, 0, 10);
}

.gradient_background{
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

.apply_goo_effect{
    /*filter: url(#goo) blur(55px);*/
    filter: url(#goo);
}