@import "tailwindcss";

/*--bg-color:#09090b
--secondary-color:#0d9488*/

@property --move{
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

body{
    /*background-color: #09090b;*/
}

.aaaa{
    background-position: var(--move) 0%;
    background-size: 400% 100%;
    animation: move 10s linear infinite;
}


@keyframes move {
    0%{
        --move:-100%
    }
    50%{
        --move:100%
    }
    100%{
        --move:-100%
    }
}

@custom-variant dark (&:where(.dark, .dark *));

:root{
    /*--color-bg1:rgb(24, 0, 36);
    --color-bg2:rgb(0, 9, 44);*/

    --color1:rgb(34, 88, 168);
    --color2:rgb(153, 46, 177);
    --color3:rgb(37, 148, 170);
    --color4:rgb(167, 36, 36);
    --color5:rgb(154, 154, 33);


    --color1:34, 88, 168;
    --color2:153, 46, 177;
    --color3:37, 148, 170;
    --color4:167, 36, 36;
    --color5:154, 154, 33;

    /*--color1:18,113,255;
    --color2:221,74,255;
    --color3:100,228,255;
    --color4:200,50,50;
    --color5:180,180,50;*/
    --color-interactive:140,100,255;
    --circle-size:80%;
    --blending:"hard-light";
}
:root[class="light"]{
    --color-bg1:rgb(250, 245, 255);
    --color-bg2:rgb(245, 250, 255);
}
:root[class="dark"]{
    --color-bg1:rgb(10, 0, 25);
    --color-bg2:rgb(25, 0, 10);
}

.gradient_background{
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

/*svg{
    display: none;
}*/

.gradients_container{
    /*filter: url(#goo) blur(55px);*/
    /*filter: url(#goo);*/
}
.apply_goo_effect{
    /*filter: url(#goo) blur(55px);*/
    filter: url(#goo);
}

.orb1{
    width: var(--circle-size);
    height: var(--circle-size);
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 40%) no-repeat;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blending);
    transform-origin: center center;
    /*animation: moveVerticle 30s ease infinite;*/
}
.orb2{
    width: var(--circle-size);
    height: var(--circle-size);
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 40%) no-repeat;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blending);
    transform-origin: calc(50% - 400px);
    /*animation: moveInCircle 20s reverse infinite;*/
}
.orb3{
    width: var(--circle-size);
    height: var(--circle-size);
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 40%) no-repeat;
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    mix-blend-mode: var(--blending);
    transform-origin: calc(50% + 400px);
    /*animation: moveInCircle 40s linear infinite;*/
}
.orb4{
    width: var(--circle-size);
    height: var(--circle-size);
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 40%) no-repeat;
    top: calc(50% - var(--circle-size)/2);
    left: calc(50% - var(--circle-size)/2);
    mix-blend-mode: var(--blending);
    transform-origin: calc(50% - 200px);
    /*animation: moveHorizontal 40s ease infinite;*/
}
.orb5{
    width: var(--circle-size);
    height: var(--circle-size);
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 40%) no-repeat;
    top: calc(50% - var(--circle-size)/2);
    left: calc(50% - var(--circle-size)/2);
    mix-blend-mode: var(--blending);
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    /*animation: moveInCircle 20s ease infinite;*/
}
.interactive{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
}


@keyframes moveInCircle {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes moveVerticle {
    0%{
        transform: translateY(-50%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(-50%);
    }
}
@keyframes moveHorizontal {
    0%{
        transform: translateX(-50%) translateY(-10%);
    }
    50%{
        transform: translateX(50%) translateY(10%);
    }
    100%{
        transform: translateX(-50%) translateY(-10%);
    }
}